# Python
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/
.venv/

# Database
db.sqlite3

# Environment variables
.env
client_secret*.json
*googleusercontent*.json

# IDE
.vscode/
.idea/

# Django static
staticfiles/

# Media
media/

# Logs
*.log
